<%= gibberails_include_tag() %>
<%= render 'menu'%>
<br/>
<h1 class="wtls centralized"><%= @little_text %></h1>

<%= build_gibberish_and_ace :code => @post, :top => '30%', :left => '17%', :right => '17%', :bottom => '0%' %>

