<nav id="app">
  <%= coffeesound_js_tags %>
  
  <%= create_ace decompress_for(@code), :id => "coffee_editor" %>
  
  <%= create_terminal :rows=> 33, :id=> "termDiv", :editor => "coffee_editor", :custom_commands => {
    :run => {
      :help => "runs code embeeded on ace editor",
      :exec => "run window.editor.getValue()"
    },
    :stop => {
      :help => "stop audio",
      :exec => "stop()"
    },
    :update => {
      :help => "Update the code running audio",
      :exec => "stop(); run window.editor.getValue()"
    }
  } %>
</nav>

