<nav id="app">
  <%= coffeesound_js_tags %>
  
  <%= create_ace decompress_for(@code), :id => "coffee_editor" %>
  
  <%= create_terminal :rows=> 30, :id=> "termDiv", :editor => "coffee_editor", :custom_commands => {
    :run => {
      :help => "runs code embeeded on ace editor",
      :exec => "gac.run (err, js) -> if not err then terminal.type eval(js) else terminal.type js"
    },
    :clean => {
      :help => "clean audio",
      :exec => "gac.clean (cleared) -> terminal.type cleared" 
    }
  } %>
</nav>

