// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post_box {
  border: solid black 1px;
  border-radius: 5px;
  padding: 5%;
  margin: 1% 10% 5% 1%;
}





