<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <% if user_signed_in? %>
      <li class="active"><%= link_to "Musics", "/posts" %></li>
      <li><%= link_to "Sign out",   "/users/sign_out", :method => :delete %></li>
    <% else %>
      <li class="active"><%= link_to "Sign up" ,   "/users/sign_up" %></li> 
      <li><%= link_to "Sign in" ,   "/users/sign_in" %></li>
    <% end %>
  </ul>
</div>
